@use "global" as *;

.c-common-fv {
  width: 100%;
  height: myrem(200);
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(md) {
    height: myrem(300);
  }
}

.c-common-fv--recruit {
  background-position: center;
  @include mq (md) {
    background-position: initial;
  }
}
