@use "global" as *;

.c-news-category {
  padding: myrem(2) myrem(5);
  min-width: myrem(80);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $red;
  font-size: myrem(14);
  font-weight: bold;
  text-transform: capitalize;
  @include mq(md) {
    // padding: myrem(2) myrem(20);
  }
}

.c-news-category--recruit-post {
  background-color: $black;
}

.c-news-category2 {
  padding: myrem(6) myrem(25);
  text-transform: uppercase;
}

.c-news_category3 {
  padding: myrem(4) myrem(24);
}

.c-news-date {
  font-size: myrem(16);
  font-weight: 400;
  font-family: $font-sub;
}

.c-news-text {
  font-size: myrem(16);
  font-weight: 400;
  font-family: $font-sub;
}
