@use "global" as *;

.c-section-title {
  font-size: myrem(48);
  font-weight: bold;
  text-transform: capitalize;
  @include mq(md) {
    font-size: myrem(60);
  }
}

.c-section-title::first-letter {
  color: $red;
}

.c-section-subtitle {
  padding-left: myrem(7);
  font-size: myrem(14);
  font-weight: bold;
  line-height: 0.3;
  @include mq(md) {
    font-size: myrem(16);
  }
}
