@use "global" as *;

.p-fv {
  background-color: $black;
  overflow: hidden;
}

.swiper1-wrapper {
  margin: 0 myrem(-10);
  padding: myrem(30) 0;
  @include mq(md) {
    margin: 0 myrem(-25);
    padding: myrem(78) 0 myrem(82);
    transition-timing-function: linear;
  }
}

.p-fv__image {
  padding: 0 myrem(10);
  width: 100%;
  @include mq(md) {
    padding: 0 myrem(25);
  }
}

.p-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 904/500;
}
