@use "global" as *;

// News 一覧
.p-news-archive {
  background-color: $gray;
}

.p-news-archive__inner {
  margin-top: myrem(20);
  padding: myrem(40) myrem(20);
  background-color: $white;
  @include mq(md) {
    margin-top: myrem(61);
    padding: myrem(79) myrem(120) myrem(80);
  }
}

.p-news-archive__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(10);
  row-gap: myrem(5);
  @include mq(md) {
    column-gap: myrem(20);
  }
}
.p-news-archive__list li {
  padding: myrem(2) myrem(20);
  font-size: myrem(14);
  font-weight: bold;
  text-transform: capitalize;
}

.p-news-archive__list li.current-cat {
  background-color: $pink;
}

.p-news-archive__all-news {
  background-color: $pink;
}

.p-news-archive__contents {
  padding: myrem(30) 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: myrem(20);
  @include mq(md) {
    padding: myrem(60) 0 0 0;
  }
}

.p-news-archive__content {
  display: flex;
  flex-wrap: wrap;
  row-gap: myrem(10);
  @include mq(md) {
    flex-wrap: nowrap;
  }
}

.p-news-archive__date {
  margin-left: myrem(10);
  @include mq(md) {
    margin-left: myrem(21);
  }
}

.p-news-archive__text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mq(md) {
    margin-left: myrem(36);
    padding-left: 0;
  }
}

.p-news-archive__pagenation {
  margin-top: myrem(40);
  @include mq(md) {
    margin-top: myrem(80);
  }
}

// News 個別ページ
.p-news-post {
  background-color: $gray;
}

.p-news-post__inner {
  margin-top: myrem(20);
  padding: myrem(30) myrem(20);
  background-color: $white;
  @include mq(md) {
    margin-top: myrem(59);
    padding: myrem(80) myrem(120) myrem(77);
  }
}

.p-news-post__title {
  padding-bottom: myrem(10);
  font-size: myrem(28);
  font-weight: bold;
  font-family: $font-sub;
  border-bottom: 1px solid $black;
  @include mq(md) {
    padding-bottom: myrem(20);
    font-size: myrem(32);
  }
}

.p-news-post__info {
  padding: myrem(18) 0 myrem(20);
  display: flex;
  @include mq(md) {
    padding: myrem(18) 0 myrem(40);
  }
}

.p-news-post__date {
  margin-left: myrem(20);
}

.p-news-post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1000/560;
}

.p-news-post__text p {
  padding-top: myrem(20);
  line-height: 1.7;
  @include mq(md) {
    padding-top: myrem(35);
  }
}

.p-news-post__btn {
  margin: myrem(50) auto;
  width: myrem(200);
  @include mq(md) {
    margin: myrem(74) auto myrem(98);
    width: myrem(300);
  }
}

// 関連記事
.p-news-post__relation-title {
  width: fit-content;
  font-size: myrem(26);
  font-weight: bold;
  position: relative;
  @include mq(md) {
    font-size: myrem(38);
  }
}

.p-news-post__relation-title::first-letter {
  color: $red;
}

.p-news-post__relation-title::after {
  content: "";
  width: calc(100vw - myrem(205));
  height: 1px;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  background-color: $black;
  @include mq(md) {
    width: myrem(815);
  }
}

.p-news-post__relation-list {
  padding-top: myrem(30);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: myrem(20);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: myrem(25);
  }
}

.p-news-post__relation-info {
  padding-top: myrem(10);
  display: flex;
  align-items: center;
}

.p-news-post__relation-date {
  margin-left: myrem(21);
}

.p-news-post__relation-text {
  padding-top: myrem(16);
  letter-spacing: 0.03em;
}
